<div class="row top-controls-row">
    <div class="col s12 top-controls-col">
        <p>Select a Category Below after selecting a source from the left to retrieve results</p>
        <div class="col s12 source-sub-controls">

        </div>
    </div>
</div>

<div class="row main-content-row">
    <div class="col s12 main-content-column" id="main-content-column">
        <p>Sources:</p>
        <h4>The Onion</h4>
        <p>The Onion is a satirical comedy site; for the most part it only has humorous articles or jokes.
            Don't get confused and think the articles it fetches are actually real. They are jokes.

            May contain harsh language, reader discretion advised. I'm not responsible for any of the content pulled by this app.
        </p>

        <h4>Nashville Public Radio</h4>
        <p>News from the Nashville Public Radio front page, which may also include National Public Radio news.</p>
        {{#each headline}}
            {{> headline/headline-block}}
        {{/each}}

        <br>
        <p>Comments are not curated or moderated. I'm not responsible for their content, so please keep it civil and nice. Thanks.</p>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script type="text/javascript" src="js/logic.js"></script>