<div class="row top-controls-row">
    <div class="col s12 top-controls-col">
        <p>Select a Category Below after selecting a source from the left to retrieve results</p>
        <div class="col s12 source-sub-controls">

        </div>
    </div>
</div>

<div class="row main-content-row">
    <div class="col s12 main-content-column" id="main-content-column">
        {{#each headline}}
            {{> headline/headline-block}}
        {{/each}}
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script type="text/javascript" src="js/logic.js"></script>