<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="styles/materialize.css" media="screen,projection" />
    <title>Main Page My Dudes</title>
</head>

<body>
        <nav>
            <a href="#!" class="center brand-logo truncate">Current Source Here</a>
            <div class="topnav-div nav-wrapper">
                <a href="#" data-target="mobile-navmenu" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="hide-on-med-and-down left sources-nav">

                </ul>
            </div>
        </nav>
        <ul class="sidenav sources-nav" id="mobile-navmenu">
        </ul>
        <div class="container page-content-container">
            {{{body}}}
        </div>
</body>

</html>